@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

:root {
  --primary: #adb5bd;
  --secondary: #212529;
  --tertiary: #fff;
  --quatenary: #333533;
  --font: "Dosis", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--quatenary);
}

.side-nav {
  height: 100%;
  min-width: 3em;
  width: 4%;
  background-color: var(--secondary);
  color: var(--primary);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 0 0.2em 0.2em 0;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.8);
}

ul {
  list-style: none;
}

nav ul li a {
  color: var(--primary);
}

nav ul li a:hover {
  cursor: pointer;
  color: var(--tertiary);
}

nav li {
  padding: 100% 0;
}

header {
  color: var(--primary);
  position: relative;
  margin: 1% 0 0 6%;
}
